@keyframes fadeInUp {
    to {
        opacity: 1;
        transform: translateX(0);
    }
}

@keyframes typing {
    from {
        width: 0;
    }
    to {
        width: 100%; /* Matches the width of the text */
    }
}

@keyframes blink {
    50% {
        background-color: transparent;
    }
}

.grid {
	display: grid;
	min-block-size: 100vb;
	grid-template-columns: repeat(11, 1fr);
	grid-template-rows: repeat(12, auto);
	grid-row-gap: 2rem;
}

.image {
	inline-size: unset;
	block-size: unset;
	object-fit: cover;
	object-position: top;
	grid-column: 2 / 8;
	grid-row: 4 / 6;
	align-self: stretch;
	justify-self: stretch;
	place-self: stretch;
	border-radius: 1rem;
}

.intro {
	margin-block: 10%;
	align-self: start;
	grid-column: 6 / 9;
	grid-row: 5;
	background: hsl(260 20% 10% / 0.95);
	padding-inline: 2rem;
	padding-block: 2rem;
	color: white;
	border-radius: 1rem;
}

.intro > h1 {
	margin: 0;
   	border-right: 2px solid transparent; /* To align with the cursor */
    	overflow: hidden;
	width: 100%;
	max-width: 35ch;
	animation: typing 4s steps(25, end), blink 0.6s step-end infinite;
}

.text {
	font-size: 2vb;
	color: white;
	grid-column: 5 / 9;
	grid-row: 6 / 8;
	align-self: start;
	margin: 0;
	padding-inline: 2rem;
	padding-block: 2rem;
	background: hsl(260 20% 10% / 0.95);
	border-radius: 1rem;
}

.icons {
	grid-column: 1 / 3;
	grid-row: 2 / 5;
	justify-self: center;
	align-self: end;
}

.icons_list {
	padding: 0;
	margin: 0;
	list-style: none;
	display: flex;
	flex-direction: column;
	gap: 0.6rem;
}

.github {
	justify-self: center;
	inline-size: 4rem;
	block-size: 4rem;
	border-radius: 0.6rem;
	display: block;
	opacity: 0;
	transform: translateX(-50px);
    animation: fadeInUp 1s ease-out forwards;
	animation-delay: 4.5s;
}

.linkedin {
	justify-self: center;
	inline-size: 5rem;
	block-size: 5rem;
	border-radius: 0.6rem;
	display: block;
	opacity: 0;
	transform: translateX(-50px);
   	animation: fadeInUp 1s ease-out forwards;
	animation-delay: 5s;
}

.gmail {
	justify-self: center;
	inline-size: 3rem;
	block-size: 3rem;
	border-radius: 0.6rem;
	display: block;
	opacity: 0;
	transform: translateX(-50px);
    	animation: fadeInUp 1s ease-out forwards;
	animation-delay: 5.5s;
}

.home {
	font-size: 2vb;
	margin: 0;
	padding-inline: 2rem;
	padding-block: 1.5rem;
	grid-column: 9;
	grid-row: 1/8;
}

.project {
	font-size: 2vb;
	margin: 0;
	padding-inline: 2rem;
	padding-block: 1.5rem;	
	grid-column: 10;
	grid-row: 1/8;
}

.experience {
	font-size: 2vb;
	margin: 0;
	padding-inline: 2rem;
	padding-block: 1.5rem;
	grid-column: 11;
	grid-row: 1/8;
}

.contact {
	font-size: 2vb;
	margin: 0;
	padding-inline: 1.5rem;
	padding-block: 1.5rem;
	grid-column: 12;
	grid-row: 1/8;
}

.diagram {
	background: hsl(260 20% 10% / 0.95);
	grid-column: 10/12;
	grid-row: 4/8;
	color: white;
	border-radius: 1rem;
	padding-inline: 2rem;
	padding-block: 1.5rem;
}

.grid-container > a { 
	color: white;	
}

a:hover {
    color: wheat;
  }
