:root {
	--primary-color: #FAF9F6;
}

hgroup {
	float: right;
	display: grid;
	grid-template-columns: repeat(4, auto);
	margin: 0%;
	grid-column: 8/12;
	
}

hgroup > * {
	font-size: 2.5vb;
	white-space: nowrap;
	margin: 0%;
	padding-inline: 1.5rem;
	padding-block: 1.5rem;
}

.grid {
	display: grid;
	min-block-size: 100vb;
	grid-template-columns: repeat(11, 1fr);
	grid-template-rows: repeat(9, auto);
	grid-row-gap: 2rem;
}

.image {
	inline-size: unset;
	block-size: unset;
	object-fit: cover;
	object-position: top;
	grid-column: 2 / 8;
	grid-row: 2 / 4;
	align-self: stretch;
	justify-self: stretch;
	place-self: stretch;
	border-radius: 1rem;
}

main > h1:first-of-type {
	grid-column: 5 / 9;
	grid-row: 3;
	margin-block: 10%;
	margin-inline-start: 15%;
	background: hsl(260 20% 10% / 0.95);
	color: var(--primary-color, white);
	padding-inline: 1.5rem;
	padding-block: 0;
	border-radius: 1rem;
	align-content: center;
	
}

div {
	font-size: 2.8vh;
	overflow: hidden; 
	border-right: .15em solid white; 
	white-space: nowrap; 
	margin: 0; 
	padding: 0;
	width: auto;
	height: auto;
	letter-spacing: .15em;
	transform: scaleY(1.5);
	animation: 
		typing 4s steps(50, end),
		blink 1s 4.5s step-end infinite;	
}

summary {
	font-size: 2vb;
	color: var(--primary-color, white);
	grid-column: 4 / 9;
	grid-row: 4 / 6;
	align-self: start;
	margin: 0;
	padding-inline: 2rem;
	padding-block: 2rem;
	background: hsl(260 20% 10% / 0.95);
	border-radius: 1rem;
}

.icons {
	grid-column: 1 / 3;
	grid-row: 2 / 3;
	justify-self: center;
	align-self: end;
}

.icons_list {
	padding: 0;
	margin: 0;
	list-style: none;
	display: flex;
	flex-direction: column;
	gap: 0.6rem;
}



.github {
	justify-self: center;
	inline-size: 4rem;
	block-size: 4rem;
	border-radius: 0.6rem;
	display: block;
	opacity: 0;
	transform: translateX(-50px);
    animation: fadeInRight 1s ease-out forwards;
	animation-delay: 4.5s;
}

.linkedin {
	justify-self: center;
	inline-size: 5rem;
	block-size: 5rem;
	border-radius: 0.6rem;
	display: block;
	opacity: 0;
	transform: translateX(-50px);
   	animation: fadeInRight 1s ease-out forwards;
	animation-delay: 5s;
}

.gmail {
	justify-self: center;
	inline-size: 3rem;
	block-size: 3rem;
	border-radius: 0.6rem;
	display: block;
	opacity: 0;
	transform: translateX(-50px);
    	animation: fadeInRight 1s ease-out forwards;
	animation-delay: 5.5s;
}

a:hover img {
	filter: opacity(75%); 
	transform: translate(50px, 100px);
}

detail {
	font-size: larger;
	background: hsl(260 20% 10% / 0.95);
	grid-column: 9/12;
	grid-row: 2/7;
	color: var(--primary-color, white);
	border-radius: 1rem;
	padding-inline: 2rem;
	padding-block: 1.5rem;
	margin: 10%;
}

.grid-container > a { 
	color: var(--primary-color, white);
}

a:hover {
    color: wheat;
}

@media screen and (max-width: 768px) {
	.grid {
		display: grid;
		grid-template-columns: repeat(11, 1fr);
		grid-template-rows: repeat(9, auto);
		grid-row-gap: 2rem;
	}

	.image {
		inline-size: unset;
		block-size: unset;
		object-fit: cover;
		object-position: top;
		grid-column: 2 / 11; 
		grid-row: 2 / 4;
		place-self: stretch;
		border-radius: 1rem;
		margin-bottom: 50%;
	}

	detail {
		visibility: none;
	}

	.intro {
		grid-column: 2 / 11;
	}

	hgroup {
		display: none;
	}
}