
header {
    display: flex;

    h1 {
        font-size: 7dvh;
        margin: 0;
        margin-left: 10px;
    }
}

button {
   order: 1;
   margin-left: auto;
   border-style: none;
   background-color: transparent;
   cursor: pointer;
}

header > nav {
    visibility: hidden;
}

main {
    display: grid;
    grid-template-columns: repeat(6, 1fr);
	grid-template-rows: repeat(9, auto);
	grid-row-gap: 2rem;
}
