header {
    display: flex;
    justify-content: space-between;

    h1 {
        font-size: 7dvh;
        margin: 0;
        margin-left: 10px;
    }

    hgroup {
        float: right;
        h1 {
            font-size: 3vb;
        }
    }
}
#menuButton {
    display: none;
    order: 1;
    margin-left: auto;
    border-style: none;
    background-color: transparent;
    cursor: pointer;
}

header > nav {
    visibility: hidden;
}

main {
    display: flex;
    flex-direction: column;
    align-items: center;   
    custom-marquee {
        margin: auto;
        width: 70%;
        height: 65vh;
        background-color: gray;
        overflow-x: hidden;
        white-space: nowrap;
        gap: 1%;
    }

    .marqueeTrack  {
        display: inline-flex;
        animation: marquee-scroll 30s linear infinite;
    }
}

project-card {
    display: inline-block;
    flex: 0 0 auto;
    border-radius: 5%;
    margin-block: 1%;
    padding: 2%;
    white-space: wrap;
    height: fit-content;
    width: 50%;
    vertical-align: top;

    span {
      display: grid;
      grid-template-columns: repeat(6, 1fr);
      grid-template-rows: repeat(3 , auto);
      background-color: #F2F2F2;


      h3 {
        font-size: x-large;
        grid-row: 1;
        grid-column: 1 / -1;
      }

      picture {
        grid-row: 2;
        grid-column: 1 / -1;
        display: flex;
        margin: 0;

        img {
          width: 80%;
        }
      }

      a {
        grid-row: 1;
        grid-column: 5 / 7;
      }

      #github {
        justify-self: center;
        inline-size: 4rem;
        block-size: 4rem;
        border-radius: 0.6rem;
        display: block;
      }

      detail {
        font-size: 1em;
        grid-row: 3;
        grid-column: 1 / -1;
      }
    }
  }


@media screen and (max-width: 1024px) {
    h1 {
        font-size: 5dvh;
    }
    main {
        grid-template-columns: repeat(3, 1fr);
    }
}

@media screen and (max-width: 768px) {
    header {
        flex-direction: column;
        align-items: flex-start;
    }
    h1 {
        font-size: 4dvh;
    }
    main {
        grid-template-columns: repeat(2, 1fr);
        grid-row-gap: 1rem;
    }
    button {
        margin-left: 0;
    }
}
